:root {
  --color-gold: #d4af37;
  --color-gold-light: #f4cf57;
  --color-overlay: rgba(0, 0, 0, 0.55);
  /* Un poco más oscuro */
  --font-script: 'Great Vibes', cursive;
  --font-serif: 'Playfair Display', serif;
  --text-glow: 0 0 15px rgba(212, 175, 55, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-serif);
  color: var(--color-gold);
  background: #000;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3 {
  font-family: var(--font-script);
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

.text-gold {
  color: var(--color-gold);
  text-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
}

.text-script {
  font-family: var(--font-script);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}